/*--------------------------
# General
----------------------------*/
:root {  
    --link-color: rgb(63, 58, 47);
    --link-hover-color: white;

    --text-color: rgb(3, 1, 27);
    --text-color-2: rgb(209, 139, 10);
    --text-color-b: rgb(255, 255, 255);
    --text-highlight: rgb(21, 56, 123);

    --footer-bg: rgb(28, 81, 220);
    --footer-text: white;

    --w-circle: 3px;
    --r-event: 8px;
    --l-timeline: 5px;
    --x-timeline: 10px;
  
    --blue-dark: #15387b;
    --blue-ligth: #5871b1;
    --gold: rgb(209, 139, 10);
    --gray-dark: rgba(105, 105, 105, 0.95);
    --gray-light: rgba(105, 105, 105, 0.4);
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    font-size: 62.5%;
    color: var(--text-color);
}

body,h1,h2 {
    font-family: "Raleway", sans-serif
}
body, html {
    height: 100%
}
p {
    line-height: 2
}
b {
    color: var(--text-highlight);
}
a {
    text-decoration: none;
}
a:link, a:visited {
    color: var(--link-color);
}
a:hover {
    color: var(--link-hover-color);
}
/* a:active is when link is selected */
.page {
    height: 100vh;
}
.page,
.pagexl {
    background-color: var(--blue-ligth);
}
/*--------------------------
# Home
----------------------------*/
.homepage {
    /*width: 100vw;*/
    max-height: 100vh;

    background-image: url("../img/cielo.jpg");
    background-position: 0% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
}
.homepage-img {
    height: 90%;
    object-fit: cover;
    object-position: 0% 0%;
}
.homepage-txt {
    color: var(--text-color-b);
    text-align: center;
    width: 80%;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.homepage-txt p {
    margin-bottom: 0px;
}
.homepage-title {
    font-size: 4rem;
}
.homepage-subt {
    font-size: 2rem;
    font-style: italic;
}
#navbar {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

    width: 100%;
    background-color: rgba(194, 194, 194, 0.5);

    overflow: hidden;
    position: fixed;
    bottom: 0;
}
.navlink{
    float: left;
    display: block;
    text-align: center;

    font-size:1.4rem;
    padding: 0.75rem 0.5rem;
}
/*--------------------------
# Calendar
----------------------------*/
.calendarpage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: var(--text-color-b);
    padding: 3rem 0rem;
}
.calendarpage h1 {
    font-weight: bold;
    font-size: 2.8rem;
}
/* timeline */
.timeline {
    width: 80%;
    padding-top: 3rem;
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}
.timeline p {
    margin-bottom: 0;
}
.timeline::after {
    content: '';
    position: absolute;
    width: var(--l-timeline);
    background-color: white;
    top: 0;
    bottom: 0;
    left: calc(50% - (var(--l-timeline)*0.5));
}
/* events */
.event {
    padding: 5px 10px;
    position: relative;
    width: 50%;
    z-index: 2;
    margin-bottom: 2px;
    color: black;
}
.event p {
    font-weight: bold;
}
.solemnity {
    background-color: rgb(229, 230, 167);
}
.memoryf {
    background-color: rgb(167, 167, 230);
}
.party {
    background-color: rgb(200, 167, 230);
}
/* circles */
.event::after {
    content: '';
    position: absolute;
    background-color: white;
    border-radius: 50%;
    z-index: 1;

    width: 20px;
    height: 20px;
    
    right: -10px;
    top: 33%;
}
.solemnity::after {
    border: var(--w-circle) solid var(--text-color-2);
}
.memoryf::after {
    border: var(--w-circle) solid var(--blue-dark);
}
.party::after {
    border: var(--w-circle) solid rgb(67, 2, 172);
}
.left {
    left: 0;
    border-top-left-radius: var(--r-event);
    border-bottom-left-radius: var(--r-event);
}
.right {
    left: 50%;
    border-top-right-radius: var(--r-event);
    border-bottom-right-radius: var(--r-event);
}
.right::after {
    left: -10px;
}
/*--------------------------
# Footer
----------------------------*/
footer {
    background-color: var(--footer-bg);

    height: 12%;
    color: var(--footer-text);
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Landscape tablets, 768px and up */
@media only screen and (min-width: 768px) {
    .homepage-img {
        height: 85%;
    }
    .homepage-subt {
        font-size: 2.5rem;
    }
    .navlink{
        font-size:2rem;
        padding: 2.25rem 1.5rem;
    }
    footer {
        height: 14%;
        font-size: 1.4rem;
        padding-bottom: 1rem;
    }
}

/* Large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .homepage-img {
        height: 80%;
    }
    .homepage-title {
        font-size: 4.2rem;
    }
    .homepage-subt {
        font-size: 3rem;
    }
    .navlink{
        font-size:2.25rem;
    }
    footer {
        height: 18%;
        font-size: 1.6rem;
        padding-bottom: 2rem;
    }
}
